---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/sapi/v1/broker/subAccount?recvWindow=5000&signature=4dd04c7db371afca7c06e7109998e56096edf76047a55b21e19cf21d8e09fd8f&subAccountId=494553304457687040&timestamp=1595920558000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mbx-Apikey:
      - b3gxC40YDY5UaGj4uxr5feKb5hM03aJQ8ke79sn3Kbi55IntSvVp3cqXajeTYZpk
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[{"subaccountId":"494553304457687040","makerCommission":"0.0010","takerCommission":"0.0010","marginMakerCommission":"-1","marginTakerCommission":"-1","createTime":1595869096000}]'
  recorded_at: Tue, 28 Jul 2020 07:15:59 GMT
recorded_with: VCR 6.0.0
